.navbar{
    background-color:#ebd2d2;
    text-align: end;
    height: 40px;
    
}
.navbar-light .navbar-nav .nav-link
{
    color: #Fff;
    font-size: 18px;
    margin-right: 5px;
   
}
.navbar-light .navbar-nav .nav-link:hover
{
    text-decoration: none;
}
.header{
    position: absolute;
    top: 5px;
    right: 15px;
    display: inline;
}
.active{
    color :indianred;
}
