.card{
   
    border:none;
    width:500px;
    padding:40px;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    background: rosybrown;
    background: linear-gradient(90deg,rosybrown 0%,rosybrown 100%);
}
.card h1,h6{
    color: #fff;
}
.label{
    color:#fff;
}