<app-top-nav></app-top-nav>
<app-header></app-header>
<div class="card" style="display: list-item; "  (click) ="qrCodeGenerator()" >
  <img src="../../assets/accenture.png" alt="QR Code" style="width:30% ">
  <div  style="display: inline-block;margin: 50px;">
    <div class="Generator mx-4"><h1>Generate QR code</h1></div>
  </div>
</div>
<div class="card"  (click) ="qrCodeScanner()" style = " display: list-item; float: right;top: -177px;left: -104px;">
  <img src="../../assets/accenture.png" alt="QR Code" style="width:30% ">
  <div   style="margin: 50px;">
    <div class="Scanner"> <center><h1>Scan QR Code</h1></center></div>
  </div>
</div>
